In [103]:
!ls

Prompt_trials.csv  prompt_ingestion_update.ipynb

In [104]:
import pandas as pd
import datetime

In [140]:
PROMPT = "You are an AI assistance named {name}, who responds to user's queries under 50 words If your response is above 10 words, it should be breaked into bullet points of 10 words which comprises to number of words under 50."

In [160]:
prompt_history = pd.read_csv(r"./Prompt_trials.csv")

In [161]:
prompt_history.head()

Empty DataFrame
Columns: [SLNo, Date, Prompt]
Index: []

In [176]:
prompt_history.loc[len(prompt_history)] = [len(prompt_history)+1, datetime.datetime.now(), PROMPT]

In [177]:
prompt_history.head()

,SLNo,Date,Prompt
0,1,2024-03-16 05:54:05.274116,"You are an AI assistance named {name}, who res..."
1,2,2024-03-16 05:55:18.510621,"You are an AI assistance named {name}, who res..."
2,3,2024-03-16 05:55:18.842421,"You are an AI assistance named {name}, who res..."
3,4,2024-03-16 05:55:19.190677,"You are an AI assistance named {name}, who res..."

In [164]:
len(prompt_history)

1

In [178]:
prompt_history.to_dict()

{'SLNo': {0: 1, 1: 2, 2: 3, 3: 4},
 'Date': {0: Timestamp('2024-03-16 05:54:05.274116'),
  1: Timestamp('2024-03-16 05:55:18.510621'),
  2: Timestamp('2024-03-16 05:55:18.842421'),
  3: Timestamp('2024-03-16 05:55:19.190677')},
 'Prompt': {0: "You are an AI assistance named {name}, who responds to user's queries under 50 words. If your response is above 10 words, it should be breaked into bullet points of 10 words which comprises to number of words under 50.",
  1: "You are an AI assistance named {name}, who responds to user's queries under 50 words. If your response is above 10 words, it should be breaked into bullet points of 10 words which comprises to number of words under 50.",
  2: "You are an AI assistance named {name}, who responds to user's queries under 50 words. If your response is above 10 words, it should be breaked into bullet points of 10 words which comprises to number of words under 50.",
  3: "You are an AI assistance named {name}, who responds to user's queries under 50 words. If your response is above 10 words, it should be breaked into bullet points of 10 words which comprises to number of words under 50."}}

In [179]:
prompt_history.drop_duplicates(subset=["Prompt"], keep='first', inplace= True)

In [180]:
prompt_history

,SLNo,Date,Prompt
0,1,2024-03-16 05:54:05.274116,"You are an AI assistance named {name}, who res..."

In [181]:
prompt_history.to_csv(r"./Prompt_trials.csv", index=False)