## Sources of Below Learning

- #### How to use Gen AI with SQL Data base 
    - [LangChain](https://python.langchain.com/v0.2/docs/tutorials/sql_qa/)
    - [CSV to SQLite DB using Pandas DataFrame](https://medium.com/@eliud.giroma/sqlite-with-python-using-csv-files-6772bdd3fc5e)
    - [GitHub - Sample Solution](https://github.com/pinecone-io/examples/blob/master/learn/generation/langchain/handbook/06-langchain-agents.ipynb)
    - [YouTube - Sample Solution](https://www.youtube.com/watch?v=425N7n86QGw)

In [261]:
class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

In [262]:
# !pip install -r requirements.txt

# Create SQL DB using CSV

## Fetch Shopping Data to store in SQL DB

In [263]:
import pandas as pd

In [264]:
dataset_url = "https://raw.githubusercontent.com/iamnaofil/E-commerce-Sales-Analysis/main/Sales%20Data%20Analysis.csv"

In [265]:
data_df = pd.read_csv(filepath_or_buffer= dataset_url)

In [266]:
data_df.head()

,Column1,Order ID,Product Category,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,Time of Day
0,0,295665,Laptops and Computers,Macbook Pro Laptop,1,1700.00,30-12-2019 00:01,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,Night
1,1,295666,Home Appliances,LG Washing Machine,1,600.00,29-12-2019 07:03,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,Morning
2,2,295667,Charging Cables,USB-C Charging Cable,1,11.95,12-12-2019 18:21,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,Evening
3,3,295668,Monitors,27in FHD Monitor,1,149.99,22-12-2019 15:13,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,Afternoon
4,4,295669,Charging Cables,USB-C Charging Cable,1,11.95,18-12-2019 12:38,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,Afternoon

In [267]:
data_df.drop(columns= ["Column1"], axis=1, inplace=True)

In [268]:
data_df.isnull().sum()

Order ID            0
Product Category    0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
Month               0
Sales               0
City                0
Hour                0
Time of Day         0
dtype: int64

In [269]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  int64
 1   Product Category  185950 non-null  object
 2   Product           185950 non-null  object
 3   Quantity Ordered  185950 non-null  int64
 4   Price Each        185950 non-null  float64
 5   Order Date        185950 non-null  object
 6   Purchase Address  185950 non-null  object
 7   Month             185950 non-null  int64
 8   Sales             185950 non-null  float64
 9   City              185950 non-null  object
 10  Hour              185950 non-null  int64
 11  Time of Day       185950 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 17.0+ MB

In [270]:
data_df.head(3)

,Order ID,Product Category,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,Time of Day
0,295665,Laptops and Computers,Macbook Pro Laptop,1,1700.00,30-12-2019 00:01,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,Night
1,295666,Home Appliances,LG Washing Machine,1,600.00,29-12-2019 07:03,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,Morning
2,295667,Charging Cables,USB-C Charging Cable,1,11.95,12-12-2019 18:21,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,Evening

## Create SQLite DB Schema

In [271]:
import sqlite3
import os
from dotenv import load_dotenv

load_dotenv()

Python-dotenv could not parse statement starting at line 1

True

In [272]:
data_base_path = os.environ["DATABASE_PATH"]

In [273]:
## Creating Connection with SQLite Database
connection = sqlite3.connect(database= data_base_path)
cursor = connection.cursor()

In [274]:
## Creating SQLite Table Schema
create_table_query = '''
CREATE TABLE IF NOT EXISTS e_commerce_sales(
"Order Id" INTEGER PRIMARY KEY AUTOINCREMENT,
"Product Catecory" VARCHAR(40) NOT NULL,
"Product" VARCHAR(40) NOT NULL,
"Quantity Ordered" INTEGER NOT NULL,,
"Price Each" FLOAT NOT NULL,
"Order Date" DATETIME NOT NULL,
"Purchase Address" VARCHAR(70) NOT NULL,
"Month" INTEGER NOT NULL,
"Sales" FLOAT NOT NULL,
"City" VARCHAR(40) NOT NULL,
"Hour" INTEGER NOT NULL,
"Time of Day" VARCHAR(40) NOT NULL,
)
'''

## Loading Pandas DataFrame into SQLite Table

In [275]:
## Pushing CSV to SQLite DB
data_df.to_sql(name = "e_commerce_sales",
               con = connection,
               if_exists = "replace",
               index = False)

185950

In [276]:
## SELECT query
query = "SELECT * FROM e_commerce_sales"

In [277]:
## Verifying Activity
sql_data_df = pd.read_sql(sql = query,
                          con = connection)

In [278]:
sql_data_df.head()

,Order ID,Product Category,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,Time of Day
0,295665,Laptops and Computers,Macbook Pro Laptop,1,1700.00,30-12-2019 00:01,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,Night
1,295666,Home Appliances,LG Washing Machine,1,600.00,29-12-2019 07:03,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,Morning
2,295667,Charging Cables,USB-C Charging Cable,1,11.95,12-12-2019 18:21,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,Evening
3,295668,Monitors,27in FHD Monitor,1,149.99,22-12-2019 15:13,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,Afternoon
4,295669,Charging Cables,USB-C Charging Cable,1,11.95,18-12-2019 12:38,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,Afternoon

# Generative AI on SQL Database

## Load the Keys

In [279]:
from dotenv import load_dotenv
import os
load_dotenv()

Python-dotenv could not parse statement starting at line 1

True

In [280]:
OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")
OPENAI_ENDPOINT = os.getenv("OPENAI_ENDPOINT")
OPENAI_MODEL = os.getenv("OPENAI_MODEL")
OPENAI_DEPLOYMENT = os.getenv("OPENAI_DEPLOYMENT")
OPENAI_API_VERSION = os.getenv("OPENAI_API_VERSION")

## Load the LLM &#8594; Azure Chat OpenAI

In [281]:
from langchain_openai import AzureChatOpenAI

In [282]:
llm = AzureChatOpenAI(
    model = OPENAI_MODEL,
    azure_deployment = OPENAI_DEPLOYMENT,
    azure_endpoint = OPENAI_ENDPOINT,
    api_version = OPENAI_API_VERSION,
    api_key = OPENAI_API_KEY,
    temperature = 0
)

## Load the Existing SQL Database &#8594; SQLite

- [***Dialect***](https://docs.sqlalchemy.org/en/13/dialects/index.html)
    + The **dialect** is the system SQLAlchemy uses to communicate with various types of DBAPI implementations and databases.
    + *Included Dialects* &#8594; `PostgreSQL`, `MySQL`, `SQLite`, `Oracle`, `Microsoft SQL Server`
    + *External Dialects* &#8594; `Amazon Redshift (via psycopg2)`, `Apache Drill`, `Apache Druid`, `Apache Hive and Presto`, `Apache Solr`, `Google BigQuery`, `SAP Hana`, `Snowflake`, .. etc.

- ***Table Info***
    + Information about all tables in the database.

In [283]:
from langchain_community.utilities import SQLDatabase

In [284]:
db = SQLDatabase.from_uri(database_uri = f"sqlite:///{data_base_path}")

In [285]:
print(f"{color.BOLD}Dialect : {color.END} {db.dialect}")
print(f"{color.BOLD}Table Information: {color.END} {db.table_info}")

Dialect :  sqlite
Table Information:
CREATE TABLE e_commerce_sales (
	"Order ID" INTEGER,
	"Product Category" TEXT,
	"Product" TEXT,
	"Quantity Ordered" INTEGER,
	"Price Each" REAL,
	"Order Date" TEXT,
	"Purchase Address" TEXT,
	"Month" INTEGER,
	"Sales" REAL,
	"City" TEXT,
	"Hour" INTEGER,
	"Time of Day" TEXT
)

/*
3 rows from e_commerce_sales table:
Order ID	Product Category	Product	Quantity Ordered	Price Each	Order Date	Purchase Address	Month	Sales	City	Hour	Time of Day
295665	Laptops and Computers	Macbook Pro Laptop	1	1700.0	30-12-2019 00:01	136 Church St, New York City, NY 10001	12	1700.0	 New York City	0	Night
295666	Home Appliances	LG Washing Machine	1	600.0	29-12-2019 07:03	562 2nd St, New York City, NY 10001	12	600.0	 New York City	7	Morning
295667	Charging Cables	USB-C Charging Cable	1	11.95	12-12-2019 18:21	277 Main St, New York City, NY 10001	12	11.95	 New York City	18	Evening
*/

## Chains

- Chains (i.e., compositions of LangChain Runnables) support applications whose steps are predictable. 
- We can create a simple chain that takes a question and does the following:
    + convert the question into a SQL query
    + execute the query
    + use the result to answer the original question.

### 1 . Convert the question into a SQL Query

In [286]:
from langchain.chains import create_sql_query_chain

#### [create_sql_query_chain](https://api.python.langchain.com/en/latest/chains/langchain.chains.sql_database.query.create_sql_query_chain.html)
- Used to create a SQL query from the user input question by keeping sql table of specific dialect as reference.
    - `llm:` The language model to use. 
    - `db:` The SQLDatabase to generate the query for. 
    - `prompt:` The prompt to use. If none is provided, will choose one based on dialect. Defaults to None. See [Prompt section](https://api.python.langchain.com/en/latest/chains/langchain.chains.sql_database.query.create_sql_query_chain.html) for more info.
    - `k:` The number of results per select statement to return. Defaults to 5.

In [287]:
write_query_chain = create_sql_query_chain(llm = llm, db = db, prompt=None, k = 10)

In [288]:
data_df.head()

,Order ID,Product Category,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,Time of Day
0,295665,Laptops and Computers,Macbook Pro Laptop,1,1700.00,30-12-2019 00:01,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,Night
1,295666,Home Appliances,LG Washing Machine,1,600.00,29-12-2019 07:03,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,Morning
2,295667,Charging Cables,USB-C Charging Cable,1,11.95,12-12-2019 18:21,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,Evening
3,295668,Monitors,27in FHD Monitor,1,149.99,22-12-2019 15:13,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,Afternoon
4,295669,Charging Cables,USB-C Charging Cable,1,11.95,18-12-2019 12:38,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,Afternoon

In [289]:
question = "What orders under Home Appliances got sold in Dec 2019. Return only the id, date of order, category of product, product, time they order and there address."

In [290]:
genai_sql_query = write_query_chain.invoke({"question":question})

In [291]:
print(genai_sql_query)

SELECT "Order ID", "Order Date", "Product Category", "Product", "Time of Day", "Purchase Address"
FROM e_commerce_sales
WHERE "Product Category" = 'Home Appliances' AND "Order Date" LIKE '%12-2019%'
LIMIT 10;

In [292]:
connection

In [293]:
## Using SQLite to execute the query
db.run(genai_sql_query)

"[(295666, '29-12-2019 07:03', 'Home Appliances', 'LG Washing Machine', 'Morning', '562 2nd St, New York City, NY 10001'), (295689, '24-12-2019 11:21', 'Home Appliances', 'LG Washing Machine', 'Morning', '173 Lake St, San Francisco, CA 94016'), (296329, '01-12-2019 11:49', 'Home Appliances', 'LG Washing Machine', 'Morning', '194 South St, San Francisco, CA 94016'), (296376, '21-12-2019 10:10', 'Home Appliances', 'LG Dryer', 'Morning', '817 Meadow St, Portland, OR 97035'), (296472, '21-12-2019 10:50', 'Home Appliances', 'LG Dryer', 'Morning', '199 Cedar St, Dallas, TX 75001'), (296485, '02-12-2019 15:15', 'Home Appliances', 'LG Dryer', 'Afternoon', '794 Church St, Austin, TX 73301'), (296845, '17-12-2019 16:38', 'Home Appliances', 'LG Washing Machine', 'Afternoon', '930 River St, Atlanta, GA 30301'), (296893, '09-12-2019 09:49', 'Home Appliances', 'LG Dryer', 'Morning', '108 Forest St, New York City, NY 10001'), (296975, '14-12-2019 16:39', 'Home Appliances', 'LG Washing Machine', 'Afternoon', '643 Forest St, San Francisco, CA 94016'), (297265, '11-12-2019 20:36', 'Home Appliances', 'LG Washing Machine', 'Evening', '787 Ridge St, Los Angeles, CA 90001')]"

In [294]:
## Using Pandas and SQLite DB connection to execute query
data_base_path = os.environ["DATABASE_PATH"]
connection = sqlite3.connect(data_base_path)
pd.read_sql(sql = genai_sql_query, con = connection)

,Order ID,Order Date,Product Category,Product,Time of Day,Purchase Address
0,295666,29-12-2019 07:03,Home Appliances,LG Washing Machine,Morning,"562 2nd St, New York City, NY 10001"
1,295689,24-12-2019 11:21,Home Appliances,LG Washing Machine,Morning,"173 Lake St, San Francisco, CA 94016"
2,296329,01-12-2019 11:49,Home Appliances,LG Washing Machine,Morning,"194 South St, San Francisco, CA 94016"
3,296376,21-12-2019 10:10,Home Appliances,LG Dryer,Morning,"817 Meadow St, Portland, OR 97035"
4,296472,21-12-2019 10:50,Home Appliances,LG Dryer,Morning,"199 Cedar St, Dallas, TX 75001"
5,296485,02-12-2019 15:15,Home Appliances,LG Dryer,Afternoon,"794 Church St, Austin, TX 73301"
6,296845,17-12-2019 16:38,Home Appliances,LG Washing Machine,Afternoon,"930 River St, Atlanta, GA 30301"
7,296893,09-12-2019 09:49,Home Appliances,LG Dryer,Morning,"108 Forest St, New York City, NY 10001"
8,296975,14-12-2019 16:39,Home Appliances,LG Washing Machine,Afternoon,"643 Forest St, San Francisco, CA 94016"
9,297265,11-12-2019 20:36,Home Appliances,LG Washing Machine,Evening,"787 Ridge St, Los Angeles, CA 90001"

#### Default Prompt

In [295]:
write_query_chain.get_prompts()[0].pretty_print()

You are a SQLite expert. Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 10 results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use date('now') function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:
{table_info}

Question: {input}

### 2. Execute SQL Query using `Tool`

- Automating the writing of the query and execution of the query.
- We can use the `QuerySQLDatabaseTool`(see [here](https://python.langchain.com/v0.2/docs/tutorials/sql_qa/#execute-sql-query)) to easily add query execution to our chain.
- Below is the example of automating using [Custom Tool](https://python.langchain.com/v0.1/docs/modules/tools/custom_tools/).
    + Besides the actual function that is called, the Tool consists of several components:
        + `name (str)`, is required and must be unique within a set of tools provided to an agent
        + `description (str)`, is optional but recommended, as it is used by an agent to determine tool use
        + `args_schema (Pydantic BaseModel)`, is optional but recommended, can be used to provide more information (e.g., few-shot examples) or validation for expected parameters.

#### [@tool decorator](https://python.langchain.com/v0.1/docs/modules/tools/custom_tools/#tool-decorator)

- This `@tool` decorator is the simplest way to define a custom tool. 
- The decorator uses the function name as the tool name by default, but this can be overridden by passing a string as the first argument. 
- Additionally, the decorator will use the function's docstring as the tool's description - so a docstring MUST be provided.

In [296]:
# Import things that are needed generically
from langchain.pydantic_v1 import BaseModel, Field
from langchain.tools import BaseTool, StructuredTool, tool
import sqlite3

In [297]:
type(db)

langchain_community.utilities.sql_database.SQLDatabase

In [298]:
class ExcuteQueryInput(BaseModel):
    sql_query: str = Field(description="should be a sql query")

In [299]:
@tool("execute-query-tool", args_schema=ExcuteQueryInput, return_direct=True)
def execute_query(sql_query: str) -> str:
    """Use the sql query to execute over database db."""
    
    # return db.run(sql_query)
    con = sqlite3.connect('./Sample Database/ABC_Store.db')
    return pd.read_sql(sql_query, con)

In [300]:
# print(execute_query)
print(f"{color.BOLD}Name of Custom Tool:{color.END} {execute_query.name}")
print(f"{color.BOLD}Description of Custom Tool:{color.END} {execute_query.description}")
print(f"{color.BOLD}Arguments of Custom Tool:{color.END} {execute_query.args}")
print(f"{color.BOLD}JSON Schema of Custom Tool:{color.END} {execute_query.return_direct}")

Name of Custom Tool: execute-query-tool
Description of Custom Tool: execute-query-tool(sql_query: str) -> str - Use the sql query to execute over database db.
Arguments of Custom Tool: {'sql_query': {'title': 'Sql Query', 'description': 'should be a sql query', 'type': 'string'}}
JSON Schema of Custom Tool: True

In [301]:
from langchain_core.runnables import RunnablePassthrough
from operator import itemgetter
from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate

In [302]:
answer_prompt = PromptTemplate.from_template(
    """Given the following user question, corresponding SQL query, and SQL result, answer the user question.

Question: {question}
SQL Query: {query}
SQL Result: {result}
Answer: """
)

In [303]:
chain = (
    RunnablePassthrough.assign(query=write_query_chain).assign(
        result=itemgetter("query") | execute_query
    ) | answer_prompt
    | llm # process the answer_prompt with llm to return Answer contain in .text
    | StrOutputParser() # Parse the .content output string and return
)

In [304]:
tool_result = chain.invoke({'question':question})

In [305]:
print(tool_result)

The orders under Home Appliances that were sold in Dec 2019 are as follows:

1. Order ID: 295666
   Order Date: 29-12-2019 07:03
   Product Category: Home Appliances
   Product: LG Washing Machine
   Time of Day: Morning
   Purchase Address: 562 2nd St, New York City, NY 10001

2. Order ID: 295689
   Order Date: 24-12-2019 11:21
   Product Category: Home Appliances
   Product: LG Washing Machine
   Time of Day: Morning
   Purchase Address: 173 Lake St, San Francisco, CA 94016

3. Order ID: 296329
   Order Date: 01-12-2019 11:49
   Product Category: Home Appliances
   Product: LG Washing Machine
   Time of Day: Morning
   Purchase Address: 194 South St, San Francisco, CA 94016

4. Order ID: 296376
   Order Date: 21-12-2019 10:10
   Product Category: Home Appliances
   Product: LG Dryer
   Time of Day: Morning
   Purchase Address: 817 Meadow St, Portland, OR 97035

5. Order ID: 296472
   Order Date: 21-12-2019 10:50
   Product Category: Home Appliances
   Product: LG Dryer
   Time of Day: Morning
   Purchase Address: 199 Cedar St, Dallas, TX 75001

6. Order ID: 296485
   Order Date: 02-12-2019 15:15
   Product Category: Home Appliances
   Product: LG Dryer
   Time of Day: Afternoon
   Purchase Address: 794 Church St, Austin, TX 73301

7. Order ID: 296845
   Order Date: 17-12-2019 16:38
   Product Category: Home Appliances
   Product: LG Washing Machine
   Time of Day: Afternoon
   Purchase Address: 930 River St, Atlanta, GA 30301

8. Order ID: 296893
   Order Date: 09-12-2019 09:49
   Product Category: Home Appliances
   Product: LG Dryer
   Time of Day: Morning
   Purchase Address: 108 Forest St, New York City, NY 10001

9. Order ID: 296975
   Order Date: 14-12-2019 16:39
   Product Category: Home Appliances
   Product: LG Washing Machine
   Time of Day: Afternoon
   Purchase Address: 643 Forest St, San Francisco, CA 94016

10. Order ID: 297265
    Order Date: 11-12-2019 20:36
    Product Category: Home Appliances
    Product: LG Washing Machine
    Time of Day: Evening
    Purchase Address: 787 Ridge St, Los Angeles, CA 90001

## SQL Agent