## Sources of Below Learning

- #### How to use Gen AI with SQL Data base 
    - [LangChain](https://python.langchain.com/v0.2/docs/tutorials/sql_qa/)
    - [CSV to SQLite DB using Pandas DataFrame](https://medium.com/@eliud.giroma/sqlite-with-python-using-csv-files-6772bdd3fc5e)
    - [GitHub - Sample Solution](https://github.com/pinecone-io/examples/blob/master/learn/generation/langchain/handbook/06-langchain-agents.ipynb)
    - [YouTube - Sample Solution](https://www.youtube.com/watch?v=425N7n86QGw)

In [8]:
# !pip install -r requirements.txt

# Create SQL DB using CSV

## Fetch Shopping Data to store in SQL DB

In [9]:
import pandas as pd

In [10]:
dataset_url = "https://raw.githubusercontent.com/iamnaofil/E-commerce-Sales-Analysis/main/Sales%20Data%20Analysis.csv"

In [11]:
data_df = pd.read_csv(filepath_or_buffer= dataset_url)

In [12]:
data_df.head()

,Column1,Order ID,Product Category,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,Time of Day
0,0,295665,Laptops and Computers,Macbook Pro Laptop,1,1700.00,30-12-2019 00:01,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,Night
1,1,295666,Home Appliances,LG Washing Machine,1,600.00,29-12-2019 07:03,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,Morning
2,2,295667,Charging Cables,USB-C Charging Cable,1,11.95,12-12-2019 18:21,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,Evening
3,3,295668,Monitors,27in FHD Monitor,1,149.99,22-12-2019 15:13,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,Afternoon
4,4,295669,Charging Cables,USB-C Charging Cable,1,11.95,18-12-2019 12:38,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,Afternoon

In [14]:
data_df.drop(columns= ["Column1"], axis=1, inplace=True)

In [16]:
data_df.isnull().sum()

Order ID            0
Product Category    0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
Month               0
Sales               0
City                0
Hour                0
Time of Day         0
dtype: int64

In [23]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  int64
 1   Product Category  185950 non-null  object
 2   Product           185950 non-null  object
 3   Quantity Ordered  185950 non-null  int64
 4   Price Each        185950 non-null  float64
 5   Order Date        185950 non-null  object
 6   Purchase Address  185950 non-null  object
 7   Month             185950 non-null  int64
 8   Sales             185950 non-null  float64
 9   City              185950 non-null  object
 10  Hour              185950 non-null  int64
 11  Time of Day       185950 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 17.0+ MB

In [17]:
data_df.head(3)

,Order ID,Product Category,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,Time of Day
0,295665,Laptops and Computers,Macbook Pro Laptop,1,1700.00,30-12-2019 00:01,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,Night
1,295666,Home Appliances,LG Washing Machine,1,600.00,29-12-2019 07:03,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,Morning
2,295667,Charging Cables,USB-C Charging Cable,1,11.95,12-12-2019 18:21,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,Evening

## Create SQLite DB Schema

In [18]:
import sqlite3

In [22]:
## Creating Connection with SQLite Database
connection = sqlite3.connect(database= "./Sample Database/ABC_Store.db")
cursor = connection.cursor()

In [24]:
## Creating SQLite Table Schema
create_table_query = '''
CREATE TABLE IF NOT EXISTS e_commerce_sales(
"Order Id" INTEGER PRIMARY KEY AUTOINCREMENT,
"Product Catecory" VARCHAR(40) NOT NULL,
"Product" VARCHAR(40) NOT NULL,
"Quantity Ordered" INTEGER NOT NULL,,
"Price Each" FLOAT NOT NULL,
"Order Date" DATETIME NOT NULL,
"Purchase Address" VARCHAR(70) NOT NULL,
"Month" INTEGER NOT NULL,
"Sales" FLOAT NOT NULL,
"City" VARCHAR(40) NOT NULL,
"Hour" INTEGER NOT NULL,
"Time of Day" VARCHAR(40) NOT NULL,
)
'''

## Loading Pandas DataFrame into SQLite Table

In [26]:
## Pushing CSV to SQLite DB
data_df.to_sql(name = "e_commerce_sales",
               con = connection,
               if_exists = "replace",
               index = False)

185950

In [27]:
## SELECT query
query = "SELECT * FROM e_commerce_sales"

In [28]:
## Verifying Activity
sql_data_df = pd.read_sql(sql = query,
                          con = connection)

In [29]:
sql_data_df.head()

,Order ID,Product Category,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,Time of Day
0,295665,Laptops and Computers,Macbook Pro Laptop,1,1700.00,30-12-2019 00:01,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,Night
1,295666,Home Appliances,LG Washing Machine,1,600.00,29-12-2019 07:03,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,Morning
2,295667,Charging Cables,USB-C Charging Cable,1,11.95,12-12-2019 18:21,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,Evening
3,295668,Monitors,27in FHD Monitor,1,149.99,22-12-2019 15:13,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,Afternoon
4,295669,Charging Cables,USB-C Charging Cable,1,11.95,18-12-2019 12:38,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,Afternoon

# Generative AI on SQL Data base

## Load the Keys

In [2]:
from dotenv import load_dotenv
import os
load_dotenv()

Python-dotenv could not parse statement starting at line 1

True

In [3]:
OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")
OPENAI_ENDPOINT = os.getenv("OPENAI_ENDPOINT")
OPENAI_MODEL = os.getenv("OPENAI_MODEL")
OPENAI_DEPLOYMENT = os.getenv("OPENAI_DEPLOYMENT")
OPENAI_API_VERSION = os.getenv("OPENAI_API_VERSION")

## Load the LLM

In [4]:
from langchain_openai import AzureChatOpenAI

In [5]:
llm = AzureChatOpenAI(
    model = OPENAI_MODEL,
    azure_deployment = OPENAI_DEPLOYMENT,
    azure_endpoint = OPENAI_ENDPOINT,
    api_version = OPENAI_API_VERSION,
    api_key = OPENAI_API_KEY,
    temperature = 0
)
llm

AzureChatOpenAI(client=<openai.resources.chat.completions.Completions object at 0x76acb8fabd60>, async_client=<openai.resources.chat.completions.AsyncCompletions object at 0x76acb8fdd6c0>, model_name='gpt-35-turbo', temperature=0.0, openai_api_key=SecretStr('**********'), openai_proxy='', azure_endpoint='https://sce-fetch.openai.azure.com/', deployment_name='sce-fetch-ai', openai_api_version='2023-03-15-preview', openai_api_type='azure')